.panel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60%;
    height: 100vh;
    background-image: url('/Imagies/Gym-Of-Gyms-Enter-Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    font-size: 24px;
    font-family: 'Impact';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    background: white;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}