.form-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0px;
    margin-bottom: 20px;
    table-layout: fixed
}

    .form-table td {
        vertical-align: middle;
        padding: 6px 8px;
    }

    .form-table .btn-custom {
        margin: 0;
        padding: 14px 20px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

.form-table-center {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0px;
    margin-bottom: 20px;
    table-layout: fixed;
}

    .form-table-center td {
        text-align: center;
        vertical-align: middle;
        padding: 10px;
    }
