<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />

    <title>@ViewData["Title"] - Gym Of Gyms</title>

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <div class="panel">

    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
