@{
    ViewData["Title"] = "Регистрация";
}
<head>
    <link rel="stylesheet" href="~/css/registration.css" />
</head>
<h1>Gym of Gyms</h1>
<h3>Зарегестрируйся! Закупись протеином! Накачайся! Стань как Арнольд Шварцнегр!</h3>
<form asp-controller="UserGym" asp-action="CreateAccount" method="post">
<table>
    <tr>
        <td>Введи имя</td>
        <td>Введи логин</td>
    </tr>
    <tr>
        <td> <input type="text" class="styled-input" name="firstName" /></td>
        <td><input type="text" class="styled-input" name="login" /></td>
    </tr>
    <tr>
        <td>Введи фамилию</td>
        <td>Введи пароль</td>
    </tr>
    <tr>
        <td><input type="text" class="styled-input" name="lastName" /></td>
        <td><input type="password" class="styled-input" name="password" /></td>
    </tr>
    <tr>
        <td>Введи отчество</td>
        <td>Повтори пароль</td>
    </tr>
    <tr>
        <td><input type="text" class="styled-input" name="fatherName" /></td>
        <td><input type="password" class="styled-input" name="confirmPassword" /></td>
    </tr>
    <tr>
        <td>Введи свой рост</td>
        <td>Введи свой вес</td>
    </tr>
    <tr>
        <td><input type="text" class="styled-input" name="height" /></td>
        <td><input type="text" class="styled-input" name="weight" /></td>
    </tr>
</table>

    <button type="submit" class="btn-custom">
        Зарегистрироваться
    </button>
</form>

<p>
    <a asp-controller="Home" asp-action="Autorisation">
        Кажется.. Я вспомнил пароль...
    </a>
</p>