@{
    ViewData["Title"] = "Регистрация";
}
<head>
    <link rel="stylesheet" href="~/css/registration.css" />
</head>
<h1>Gym of Gyms</h1>
<h2>Зарегестрируйся! Закупись протеином! Накачайся! Стань как Арнольд Шварцнегр!</h2>
<table>
    <tr>
        <td>Введи имя</td>
        <td>Введи логин</td>
    </tr>
    <tr>
        <td> <input type="text" class="styled-input" name="firstName" /></td>
        <td><input type="text" class="styled-input" name="login" /></td>
    </tr>
    <tr>
        <td>Введи фамилию</td>
        <td>Введи пароль</td>
    </tr>
    <tr>
        <td><input type="text" class="styled-input" name="lastName" /></td>
        <td><input type="password" class="styled-input" name="password" /></td>
    </tr>
    <tr>
        <td>Введи свой рост</td>
        <td>Повтори пароль пароль</td>
    </tr>
    <tr>
        <td><input type="text" class="styled-input" name="height" /></td>
        <td><input type="password" class="styled-input" name="password" /></td>
    </tr>
    <tr>
        <td>Введи свой вес</td>
    </tr>
    <tr>
        <td><input type="text" class="styled-input" name="weight" /></td>
    </tr>
</table>

<button class="btn-custom" onclick="toggleMessage()">
    Зарегистрироваться
</button>
<p>
    <a asp-controller="Home" asp-action="Autorisation">
        Кажется.. Я вспомнил пароль...
    </a>
</p>